

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* 1行目のセル */
tr:first-child td {
    background-color: orange;
}

/* 1列目のセル */
td:first-child {
    background-color: orange;
}

.title {
    text-align: center;
}